{% extends 'base.html' %}

{% block title %} Acerca de Nosotros {% endblock %}

{% block contenido %}

    <div class="container">
        <!-- <form action="#"> -->
        <h1>Crear cuenta</h1>
        <input type="text" placeholder="Nombre Completo" required />
        <input type="email" placeholder="Correo electrónico" required />
        <input type="password" placeholder="Contraseña" required />
        <button>Registrar</button>
        <p>¿Ya tienes cuenta? <a href="login.html">Inicia sesión</a></p>
        <!-- </form> -->
    </div>

{% endblock %}