{% extends 'base.html' %}

{% block title %} Registrarse {% endblock %}

{% block contenido %}

<section class="login">
    <div class="container">
        <form action="">
            <h1>Iniciar Sesión</h1>
            <input type="email" placeholder="Correo electrónico" required>
            <input type="password" placeholder="Contraseña" required>
            <button>Iniciar Sesión</button>
            <p>¿No tienes cuenta? <a href="{% url 'register' %}"></a>Regístrate</p>
            
        </form>
    </div>
</section>


    <div class="container">
        <!-- <form action="#"> -->
        <h1>Crear cuenta</h1>
        <input type="text" placeholder="Nombre Completo" required />
        <input type="email" placeholder="Correo electrónico" required />
        <input type="password" placeholder="Contraseña" required />
        <button>Registrar</button>
        <p>¿Ya tienes cuenta? <a href="login.html">Inicia sesión</a></p>
        <!-- </form> -->
    </div>

{% endblock %}